# ==========================================
# 1. ARCHIVOS DEL SISTEMA Y EDITOR
# ==========================================
.DS_Store
Thumbs.db
*~
*.swp
.env
.vscode/
.idea/
pgdata/

# ==========================================
# 2.BACKEND
# ========================================= 
aimeos-headless/vendor/
aimeos-headless/.env

# ==========================================
# 3. FRONTEND (Preparación para Vue.js)
# ==========================================
/frontend/node_modules/
npm-debug.log
yarn-error.log

# ==========================================
# 4. DOCUMENTACIÓN (Ignorado temporalmente)
# ==========================================
/diagrams/
structure.txt

